@font-face {
    font-family: Anglican;
    src: url(/fonts/AnglicanText.ttf);
}



body{
	background: url(/pictures/dante.jpg) center fixed;
	background-size: 100%;
}


#LoginForm{
	width:400px;

	position: fixed;
	top: 25%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	z-index:100;

	background-color: #F3EFE3;
	border: 4px solid black;
}





#LoginForm > .panel-heading {	
	background-color: #F3EFE3;
	border:none;
}

#LoginForm > .panel-heading h2 {
	color:#AD0502;
	text-align: center;
	font-size: 5em;
	font-family: Anglican;
}


#LoginForm > .panel-body {
	vertical-align: center;
	padding: 50px;
	background-color: #F3EFE3;	
}




#LoginButton{
	font-size: 2em;
	font-family: Anglican;
	border:none;
}

#RegisterButton{
	font-size: 2em;
	font-family: Anglican;
	border:none;
}

#ReturnButton{
	font-size: 2em;
	font-family: Anglican;
	border:none;
}