@font-face {
    font-family: Anglican;
    src: url(/fonts/AnglicanText.ttf);
}



body{
	background: url(/pictures/dante.jpg) center fixed;
	background-size: 100%;
}


#LoginForm{
	width:400px;

	position: fixed;
	top: 25%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	z-index:100;

	
	background-color: rgba(0,0,0,0);




}





#LoginForm > .panel-heading {
	background-color: rgba(245, 245, 245, 0.97);
	border:none;
}

#LoginForm > .panel-heading h2 {
	color:#AD0502;
	text-align: center;
	font-size: 5em;
	font-family: Anglican;
}


#LoginForm > .panel-body {
	vertical-align: center;
	padding: 50px;

	background-color: #F3EFE3;
	background-color: rgba(245, 245, 245, 0.75);

}




#LoginButton{
}

#RegisterButton{
}

#ReturnButton{
}




