@font-face {
    font-family: Anglican;
    src: url(/fonts/AnglicanText.ttf);
}

h1 {
	font-size: 15em;
    font-family: Anglican;
    background-color: #C8B5A1;


    position: absolute;
    right: 10%;
    top:300px;

}


body{
	background: url(/pictures/chaucer.jpg) center fixed;
	background-size: 100%;
}




#ActiveButton{
	position: fixed;
    right: 30px;
    top:30px;
    z-index:50;
}

#ActiveButton > button{
	background-color: #82694F;
	border-color: black;
	font-size: 2em;
}


#AddForm{
	border-color: black;
	border-width: 3px;
	margin-top: 5%;
	margin-left:10%;
	width:300px;
}


#TogglePatternButton{
	background-color: transparent;
	border: none;
}

#AddForm > .panel-heading {
	background-color: #C8B5A1;
	border:none;
}

#AddForm > .panel-heading h2 {
	text-align: center;
	font-size: 4em;
	font-family: Anglican;
}


#AddForm > .panel-body {
	background-color: #C8B5A1;
	border:none;
}

#AddButton  {
	background-color: #C9A075;
	font-family: Anglican;
	font-size: 2em;
	border:none;
}


#text{
	height:150px;
	background-color: #C8B5A1;
	width:parent;
	border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize:none;
	color: black;
}


#title{
	background-color: #C8B5A1;
	width:parent;
	border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black;
}





#HeadJumbotron{
	padding-left:20%;
}


#editForm{
	padding-top:5%;
	padding-left:5000px;
	padding-right:5000px;
	padding-bottom:5000px;
	position: fixed;
	top: 0%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);

	background:rgba(200,200,100, 0.7);
	z-index:100;
}

#editForm > .panel-heading h2 {
	text-align: center;
	font-size: 5em;
	font-family: Anglican;
}


#editTextBox{
	width:50vw;
	height:20vw;
}





#editButton{
	background-color: #82694F;
	font-family: Anglican;
	font-size: 2em;
	border:none;
}

#CloseEditButton{	
	background-color: #82694F;
	font-family: Anglican;
	font-size: 2em;
	border:none;
}






#NotesCollection {
	padding-left:10%;
}

#NotesCollection > .well {
  background-color: #C8B5A1;
  border-color: black;
	border-width: 3px;
  color:black;
}

#NotesCollection > .well input {
  background-color: #C9A075;
  border:none;
  margin-right: 5px;

}

#NotesCollection > .well hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid black;
	margin: 1em 0;
	padding: 0;

}


#NotesCollection div{
	width:350px;	
	margin:10px;
}

#NotesCollection p{
	overflow: hidden;
	text-overflow: ellipsis;
    word-wrap:break-word;
    max-height:500px;
}

#NotesCollection img{
	width: 300px;
	display: block;
}